{% load static %}
{% load humanize %} 

<style>
    .sticky-header th {
        border-top: 0.1px solid #999; /* 黒の横線を追加 */
    }
</style>

<div class="novels-list-container">
    <table class="sticky-header">
        <colgroup>
            <col style="width: 8%;"> <!-- 文字数の列の幅 -->
            <col style="width: 15%;"> <!-- ジャンルの列の幅 -->
            <col style="width: 12%;"> <!-- イベントの列の幅 -->
            <col style="width: 30%;"> <!-- 作品名の列の幅 -->
            <col style="width: 17%;"> <!-- 作家名の列の幅 -->
            <col style="width: 18%;"> <!-- 投稿日の列の幅 -->
        </colgroup>
        <thead>
            <tr>
                <th data-sort="word_count">
                    <a href="?sort_by=word_count&order={% if order == 'asc' %}desc{% else %}asc{% endif %}">文字数</a>
                </th>
                <th data-sort="genre">
                    <a href="?sort_by=genre&order={% if order == 'asc' %}desc{% else %}asc{% endif %}">ジャンル</a>
                </th>
                <th data-sort="event">
                    <a href="?sort_by=event&order={% if order == 'asc' %}desc{% else %}asc{% endif %}">イベント</a>
                </th>
                <th data-sort="title">
                    <a href="?sort_by=title&order={{ next_order }}">作品名</a>
                </th>
                <th data-sort="author__nickname">
                    <a href="?sort_by=author__nickname&order={{ next_order }}">作家名</a>
                </th>
                <th data-sort="published_date">
                    <a href="?sort_by=published_date&order={{ next_order }}">投稿日</a>
                </th>
            </tr>
        </thead>
        <tbody>
            {% for novel in novels %}
            <tr>
                <td>{{ novel.word_count }}</td>
                <td>{{ novel.genre }}</td>
                <td>{{ novel.event|default:"-" }}</td>
                <td>
                        <a href="{% url 'novels:novel_detail' novel.id %}">
                            {{ novel.title }}
                        </a>
                </td>
                <td>{{ novel.author.nickname }}</td>
                <td>{{ novel.published_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>